<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>beerLivery - Nos bières, chez vous, dans la d'mi heure</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Changa|Quicksand|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row">
        <a href="/catalogue" class="col-lg-5 logo">
          <div>beerLivery</div>
        </a>

        <div class="offset-6 col-1 card-icon">
          <div class="panier">
            <%=articles%>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div id="card-background">
  </div>
  <div class="container main-card">

    <!-- P A N I E R   V I D E -->
    <%
    if (!cardbeer.length || cardbeer.length < 1){
    %>
      <div class="row">
        <div class="offset-2 col-8 text-center" id="card-empty">
          <h3>Oups ! Ton panier est vide !</h3>
          <div class="row">
            <a class="col-12" href="/catalogue"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b14dfb26314443.563540ca9b029.gif" class="col-12"></a>
          </div>
          <h3>Notre livreur est parti sans bières.</h3>
          <a href="/catalogue"><h3>Retouner vers le catalogue</h3></a>
        </div>
      </div>
      <%
    } else {
    %>

        <div class="row">
          <div class="col-12">
            <h1>Votre Panier :</h1>
          </div>

          <!-- P A R T I E  A R T I C L E S -->
          <div class="col-7">
            <div class="row card-margin">
              <div class="col-12 card-items">

                <!-- L I G N E   A R T I C L E -->
                <%
                var totalBeers = 0;
                for (let i = 0; i < cardbeer.length; i++) {
                  totalBeers += cardbeer[i].price * cardbeer[i].quantity;
                %>
                  <div class="row card-oneitem">
                    <div class="col-5">
                      <%=cardbeer[i].name%>
                    </div>
                    <div class="col-3">
                      <!-- input quantité-->
                      <div class="container-fluid card-quantity">
                        <div class="count-input space-bottom">
                          <a href="/card/beer-decrease?position=<%=i%>" class="incr-btn" data-action="decrease">–</a>
                          <input class="quantity" type="text" name="quantity" value="<%=cardbeer[i].quantity%>" />
                          <input type="hidden" name="position" value="<%=i%>">
                          <a href="/card/beer-increase?position=<%=i%>" class="incr-btn" data-action="increase">&plus;</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <%=cardbeer[i].price%>€</div>
                    <a href="/card/delete-card?position=<%=i%>" class="col-2"><img src="/images/img-card-trash.svg" class="imgtrash" /></a>
                  </div>
                  <% if (i < cardbeer.length - 1) { %>
                    <div class="col-12 ligne-card"></div>
                    <% }
              } %>
              </div>

              <!-- P A R T I E   O P T I O N S -->
              <%
              var totalOptions = 0;
              %>
                <div class="col-10">
                  <div class="row card-options">
                    <div class="col-12">
                      <h2>Suppléments</h2>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-10 ligne-card"></div>
                    <!-- Option décapsuleur -->

                    <div class="col-6">
                      <div class="row">
                        <!-- Option cacahuètes-->
                        <div class="col-12">
                          <div class="row">
                            <div class="col-4 no-margin-no-padding">
                              <div class="card-quantity">
                                <div class="count-input space-bottom">
                                  <a href="/card/options-dec-decrease" class="incr-btn-options" data-action="decrease" href="#">–</a>
                                  <input class="quantity" type="text" name="quantity" value="<%=optionsData.decapsuleur.quantity%>" />
                                  <a href="/card/options-dec-increase" class="incr-btn-options" data-action="increase" href="#">&plus;</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-8 no-margin-no-padding">
                              <span>Décaps' beerLivery (<%=optionsData.decapsuleur.price%>€)</span>
                            </div>
                          </div>
                        </div>
                        <%
                        for (let i = 0; i < optionsData.supplements.length; i++) {
                          totalOptions += optionsData.supplements[i].quantity * optionsData.supplements[i].price
                        %>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-4 no-margin-no-padding">
                                <div class="card-quantity">
                                  <div class="count-input space-bottom">
                                    <a href="/card/options-decrease?position=<%=i%>" class="incr-btn-options" data-action="decrease" href="#">–</a>
                                    <input class="quantity" type="text" name="quantity" value="<%=optionsData.supplements[i].quantity%>" />
                                    <a href="/card/options-increase?position=<%=i%>" class="incr-btn-options" data-action="increase" href="#">&plus;</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-8 no-margin-no-padding">
                                <span><%=optionsData.supplements[i].name%></span>
                              </div>
                            </div>
                          </div>
                          <% }
                          totalOptions += optionsData.decapsuleur.quantity * optionsData.decapsuleur.price
                          %>
                      </div>
                    </div>

                    <div class="col-6">
                      <h2>+1€ unité</h2>
                      <p>*portion : 40g env.</p>
                    </div>

                  </div>
                </div>
            </div>
          </div>
          <!-- P A R T I E   R E S U M E  -->
          <div class="col-5">
            <div class="row card-resume">
              <div class="offset-6 col-6"><img src="/images/img-card-packbox.svg" alt="" id="imgpackbox" class="float-right" /></div>

              <%
              var totalCmd = (totalBeers + totalOptions + 1.5);
              %>
                <div class="col-8">
                  <div class="row">
                    <div class="col-12">
                      <p>Estimation livraison :</p>
                    </div>
                    <div class="col-12">
                      <p>Bières :</p>
                    </div>
                    <div class="col-12">
                      <p>Livreur :</p>
                    </div>
                    <div class="col-12">
                      <p>Suppléments :</p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row card-options-right">
                    <div class="col-12">
                      <p>30 minutes</p>
                    </div>
                    <div class="col-12">
                      <p>
                        <%=totalBeers%>€</p>
                    </div>
                    <div class="col-12">
                      <p>1.5€</p>
                    </div>
                    <div class="col-12">
                      <p>
                        <%=totalOptions%>€</p>
                    </div>
                  </div>
                </div>

                <div class="col-1"></div>
                <div class="col-10 ligne-card"></div>

                <div class="col-8">
                  <h3>Prix Total :</h3></div>
                <div class="col-4 card-options-right">
                  <h3><%=totalCmd%>€</h3></div>

            </div>

            <div class="row">
              <div class="offset-8 col-4">
                <form action="/card/checkout" method="POST">
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_IZAko0n3TcNJBDruN4iZ5pYP" data-amount="<%=totalCmd*100%>" data-name="beerLivery" data-description="Commande beerLivery" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto" data-currency="eur">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>

        <%
        }
        %>

          <div id="card-footer">
            <p>© 2018 beerLivery Inc. Privacy Terms</p>
          </div>
  </div>

</body>

</html>
