<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>beerLivery - Nos bières, chez vous, dans la d'mi heure</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Changa|Quicksand|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>

  <header>
    <div class="container-fluid">
      <div class="row">
        <a href="/" class="col-5 logo">
          <div>beerLivery</div>
        </a>
        <a href="/card" class="offset-6 col-1 card-icon">
          <div class="panier">
            <%=articles%>
          </div>
        </a>
      </div>
    </div>
  </header>

  <div class="container text-center" id="background-articles">
    <div class="row">
      <% for (var i = 0; i < beerList.length; i++) { %>
        <div class="col-4">
          <div class="article">
            <img src="https://img.saveur-biere.com/img/p/<%=beerList[i].image%>" alt="" class="img-article">
            <div class="offset-1 col-10">
              <hr>
              <!-- Horizontal Rule -->
            </div>
            <h4>
              <%=beerList[i].name%>
            </h4>
            <p>
              <%=beerList[i].type%>
            </p>
            <form action="/catalogue" method="POST">
              <input type="text" name="quantity">
              <input type="hidden" name="name" value="<%=beerList[i].name%>">
              <input type="hidden" name="price" value="<%=beerList[i].price%>">
              <button class="catalogue-btn-add-card">Add</button>
            </form>
          </div>
        </div>
        <% } %>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 logo">beerLivery</div>

        <div class="col-12 ligne"></div>

        <div class="col-12">
          <div class="row">
            <div class="offset-4 col-4">
              <p><a href="#">A propos de beerLivery</a></p>
              <p><a href="#">Devenez livreur</a></p>
              <p><a href="#">Devenez partenaire officiel</a></p>
            </div>
            <div class="col-4">
              <p><a href="#">Aide</a></p>
              <p><a href="#">FAQ</a></p>
            </div>
          </div>
        </div>

        <div class="col-12 ligne"></div>

        <a class="offset-4 col-8" href="http://s2.quickmeme.com/img/03/03d4e03e48166e1595c783db787bf6adf760e23faaf914f8ace431dd3cfe1bae.jpg">App soon - Come back in 2056</a>

        <div class="col-12 ligne"></div>

        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <p><a href="#">2018 beerLivery</a></p>
            </div>
            <div class="col-4">
              <p><a href="#">Privacy</a></p>
            </div>
            <div class="col-4">
              <p><a href="#">Terms</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
